@tailwind base;
@tailwind components;
@tailwind utilities;
*,
body{
font-family: sans-serif;
}
html{
  font-family: sans-serif;

}


/* You can add this to your global CSS file or use Tailwind CSS classes as needed */


.work-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.bg-lay {
  --b: 40px; /* the boder thickness */
  --a: 240deg; /* control the progression */
  width: 300px;
  aspect-ratio: 1;
  padding: var(--b);
  border-radius: 50%;
  background: rgba(143,214,148,0.2);
  --_g:/var(--b) var(--b) no-repeat
    radial-gradient(50% 50%,#000 97%,#0000);
  mask: top var(--_g),
    calc(50% + 50%*sin(var(--a))) 
    calc(50% - 50%*cos(var(--a))) var(--_g),
    linear-gradient(#0000 0 0) content-box intersect,
    conic-gradient(#000 var(--a),#0000 0);
    z-index: -3333;
    mask: top var(--_g),
    calc(50% + 50% * sin(var(--a))) calc(50% - 50% * cos(var(--a))) var(--_g),
    linear-gradient(#0000 0 0) content-box intersect,
    conic-gradient(#000 var(--a), #0000 0);
  z-index: -3333;
  animation: rotateAndMove 18s linear infinite;
}
@keyframes rotateAndMove {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) translateZ(0);
  }
  25% {
    transform: rotate(90deg) translateX(100px) translateY(0) translateZ(100px);
  }
  50% {
    transform: rotate(180deg) translateX(0) translateY(100px) translateZ(100px);
  }
  75% {
    transform: rotate(270deg) translateX(-100px) translateY(0) translateZ(100px);
  }
  100% {
    transform: rotate(360deg) translateX(0) translateY(-100px) translateZ(0);
  }
}


/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  width: 70px;
  aspect-ratio: 1;
  animation: l5-0 8s steps(10) infinite;
}
.loader:before,
.loader:after {
  content:"";
  grid-area: 1/1;
}
.loader:before {
  clip-path: polygon(100% 50%,90.45% 79.39%,65.45% 97.55%,34.55% 97.55%,9.55% 79.39%,0% 50%,9.55% 20.61%,34.55% 2.45%,65.45% 2.45%,90.45% 20.61%,100% 50%,85.6% 24.14%,63.6% 8.15%,36.4% 8.15%,14.4% 24.14%,6% 50%,14.4% 75.86%,36.4% 91.85%,63.6% 91.85%,85.6% 75.86%,94% 50%,85.6% 24.14%);
  background: #574951;
}
.loader:after {
  background: #83988E;
  clip-path: polygon(100% 50%,65.45% 97.55%,9.55% 79.39%,9.55% 20.61%,65.45% 2.45%);
  margin: 23%;
  translate: -143% 0;
  transform-origin: right;
  animation: l5-1 .8s linear infinite;
}
@keyframes l5-0 {to{rotate: 1turn}}
@keyframes l5-1 {
  0%{rotate: -54deg}
  to{rotate:  54deg}
}


/* shapse */
.curve-section {
  /* background:radial-gradient(at top left,#629a92 36%,#02d2a0 67%, #fff 11%) */
  background: radial-gradient(at top left, #8fd694 36%, #77b17b 67%, #fff 11%);


}



/* custom shape */
.curve {
  background-color: #8aa7ca;
  height: 65px;
  width: 160px;
  -moz-border-radius-bottomright: 25px 50px;
  border-bottom-right-radius: 25px 50px;
}
